body {
    background-color: #0f0f0f;
    margin: 0px 0px 100px 0px;
}

h1 {
    text-align: center;
    color: #f0f0f0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 100px;
    margin: 10px 10px 0px 10px;
    padding: 100px 10px 10px 10px;
}

html, #game-box {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
